<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Macaluso Law</title>

<link rel="stylesheet" type="text/css" href="main.css" />

<!-- HTML5 shim for IE backwards compatibility -->
	<!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif}-->

<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>

 
   
<section class="row-fluid">
     <div class="span12">
    
<h1 class="pageheader">
Accessible. Professional. Affordable
</h1>

<section class="home1";>
<h2 class="pic1";>Legal Advice</h2>
<p class="par11";>Criminal litigation services GO></p>
</section>

<section class="home2";>
<h2 class="pic2";>Tax Advice</h2>
<p class="par12";>Let us help prepare your taxes GO></p>
</section>

<section class="home3";>
<h2 class="pic3";>Future Planning</h2>
<p class="par13";>Wills, trusts, etc. GO> </p>
</section>

	 </div>
</section>

<section class="row-fluid">
	<div class="span9">

<section class="homeleft">
<h1 class="lefth1">Let Us Help You Find A Solution to Your Legal Issues.</h1>
<h2 class="lefth2">Sub-Headline One Placement Here </h2>
<p class="leftp">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor viverra enim, a pulvinar velit commodo nec. In mattis mi id enim blandit nec euismod libero rhoncus. Morbi convallis tempus ut id neque. Maecenas tellus eros, sagittis interdum accumsan id, interdum sit amet massa. Mauris at tempus mi. Mauris sit amet nulla sit amet massa rhoncus dignissim. Suspendisse facilisis aliquam tincidunt.</p>

<p align="right">
<button class="btn btn-warning" align="right">Learn More</button></p><P>


<div>
<article class="testimonial"> 

<span class="quote_mark">&ldquo;</span>Pellentesque nec libero justo, a blandit eros. Nam adipiscing imperdiet egestas. Suspe ndisse aliquet sapien vitae sem hendrerit sodales id nec elit. In nec justo odio. Sed sed iaculis felis.<span class="quote_mark">&rdquo;</span> Geraldine Smith
<article class="testimony"> Testimonials</article>

</article>
</div>



	</div>


	<div class="span3">
<article class="homeright">

<h2 class="righth2">Latest News</h2>
<p class="rightp">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. <a href="more.html">More...</a></p>
<p class="rightp">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. <a href="more.html">More...</a></p>
<p class="rightp">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. <a href="more.html">More...</a></p>
<p class="rightp">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. <a href="more.html">More...</a></p>
<p class="rightp">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. <a href="more.html">More...</a></p><P>

<h2 class="righth2">Select A Service</h2>

<!-- 
    <div class="dropdown">
  <button class="btn">Select A Service</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    </button>
     <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>
    </div>
 
 
 
     <div class="btn-group">
    <button class="btn">Select A Service</button>
    <button class="btn dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
    </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu" data-toggle="dropdown">
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
    </ul>


    </div>
 -->
 

 <select class="select" placeholder="Select a Service">
 <option>Wills/Trusts & Asset Protection</option>
 <option>Probate & Trust Administration</option>
 <option>Real Estate Closings</option>
 <option>Business Sales & Acquisitions</option>
 <option>Income Tax Preparation/Audits/Tax Court</option>
 <option>Incorporation/Business Start Up Services</option>
 <option>Family Business Succession Planning</option>
 </select>
 

 
</article>
</div>
</section>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
