<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Macaluso Law</title>

<link rel="stylesheet" type="text/css" href="main.css" />

<!-- HTML5 shim for IE backwards compatibility -->
	<!--[if lt IE 9]>
    	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif}-->

<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
</head>

<body>

<section class="row-fluid">
     <div class="span9">
    

<div class="pagebody">
<div class="homeleft"; style="float: left;">
<h1 class="lefth1">Title Heading One</h1>
<h2 class="lefth2">Sub-Headline One</h2>
<p class="leftp">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent fringilla sapien et nunc viverra ornare. Sed feugiat, elit vel euismod vulputate, enim mauris cursus augue, sed bibendum nisl velit et odio. Nullam at venenatis augue. Ut ac ornare turpis. Cras eget sodales arcu. Quisque suscipit, sem fermentum lobortis dignissim, quam metus rutrum massa, quis eleifend libero neque et justo. Praesent adipiscing rutrum mollis. Aenean a est lacus. Curabitur ornare vehicula vestibulum.
</p>

<img src="images/magnify.jpg" />
<p>
<p>
<h2 class="lefth2">Sub-Headline Two</h2>
<p class="leftp">
Integer vulputate bibendum ligula sed interdum. Maecenas imperdiet nisi sit amet nunc pharetra congue. Sed ornare convallis libero, a dapibus mi suscipit facilisis. Curabitur ut metus sem. Sed at lorem pulvinar quam blandit vulputate sed sit amet libero. Cras rutrum lacus vel elit euismod molestie. Pellentesque faucibus turpis a nisi rhoncus accumsan. Nulla facilisi. Nunc eu quam non sapien pretium accumsan at in felis. Sed vulputate eleifend dictum. In a quam at velit pellentesque pulvinar non non sapien. Mauris elementum neque ut elit viverra lacinia. Nunc dictum nunc justo, nec sollicitudin tortor. Nulla nibh elit, ullamcorper sit amet varius sit amet, mollis eget velit. 
</p>

<article class="testimonial"> “Pellentesque nec libero justo, a blandit eros. Nam adipiscing imperdiet egestas. Suspe ndisse aliquet sapien vitae sem hendrerit sodales id nec elit. In nec justo odio. Sed sed iaculis felis.” &nbsp Geraldine Smith 

<article class="testimony"> Testimonials</article>
</article>
</div>
</div>
</section>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="js/bootstrap.min.js"></script>


</body>
</html>
