<body>

<div class="container-fluid">
    <aside class="span3">

<section class="sidebar-link"> Sub-Menu Item One </section>
<section class="sidebar-link"> Sub-Menu Item Two </section>
<section class="sidebar-link"> Sub-Menu Item Three </section>
<section class="sidebar-link"> Sub-Menu Item Four </section>

<section class="sidebar-pic">
<h2 class="sideh2">Legal Advice</h2>
<article class="sidep1">Criminal litigation services </article> 
</section>

<section class="sidenews"> 
<h2 class="sidenewsh2">Latest News</h2><p>
<P class="sidenewsp1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="more.html">Read More... </a></P><p>
<P class="sidenewsp1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="more.html">Read More... </a></P><p>
<P class="sidenewsp1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="more.html">Read More... </a></P>
</section>
 
<h2 class="sidenewsh2">Have a Question</h2><p>
 <input type="text" name="name" value="Full Name"/><br />
 <input type="text" name="emaillist" value="Email Address"/><br/>
 <textarea rows="3">Message </textarea><br />
<button class="btn btn-warning">Submit</button>

</aside>
</div>
<br clear="all"/>


</body>

