<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Macaluso Law</title>
<link rel="stylesheet" type="text/css" href="main.css" />

<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />

<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top">
<div class="left"; style="float: left; height: 75px; width: 50%; margin: 0px 0px 0px 0px;">
<img src="images/logo.jpg" width="411" height="69" alt="logo" />
</div>
<div class="right"; style="float: right; height: 50px; width: 50%; margin:25px 0px 0px 0px;">
info@macalusolawfirm.com<br />
      Phone: +1.708.354.2890<br />
    Fax: +1.708.352.7401
</div>
<br clear="all"/>
<div class="menu1";> 
Home &nbsp  | &nbsp  Who We Are  &nbsp |  &nbsp Services &nbsp |&nbsp Practice &nbsp  |&nbsp  Resources &nbsp |&nbsp Attorney &nbsp  | &nbsp Contact Us &nbsp |
</div>
<div class="menu2";> 
 <input class="input-small" type="search" name="search" value="search"/> &nbsp
</div></div>
<br clear="all"/><P>

<div>
<H1 class="head1";>
Real Estate Closings</H1>

<H1 class="head2";>
Wills & Trusts</H1>

<H1 class="head3";>
Business Sales</H1>

<h2 class="title1";>Headline One</h2>

<h2 class="title2";>Headline Two</h2>

<h2 class="title3";>Headline Three</h2>

<p class="par1";>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor viverra enim, a pulvinar velit commodo nec. In mattis mi id enim blandit nec euismod libero rhoncus. 
</p>

<p class="par2";>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor viverra enim, a pulvinar velit commodo nec. In mattis mi id enim blandit nec euismod libero rhoncus. 
</p>

<p class="par3";>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam auctor viverra enim, a pulvinar velit commodo nec. In mattis mi id enim blandit nec euismod libero rhoncus. 
</p>

</div>
<br clear="all"/>
<p>
<p>
<div class="botleft";>Join Our Email List<br>
 <input type="email" name="emaillist" value="Email Address" placeholder="search"/>
</div>
<div class="botright";>
HOME  |  ABOUT  |  SERVICES  |  PRACTICE  |  RESOURCES  |  ATTORNEYS  |  CONTACT<br>
info@macaluso.com  |  123 Main St. Denver, CO 80605  |  303.555.1234</div>
</body>
</html>
